*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
    width: 70%;
    margin: 10px auto;
    padding: 5px;
    background-color:rgb(236, 233, 233);
}
svg{
    width: 1em;
    aspect-ratio: 1;
}
.completed {
    text-decoration: line-through;  
}
