*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
    width: 60%;
    margin: 10px auto;
    padding: 5px;
}
ul{
    list-style-type: circle;
    border: 1px solid black;
}
svg{
    width: 1em;
    aspect-ratio: 1;
}
